UnityVS
UnityVS.Zillionaire.CSharp.csproj
UnityVS.Zillionaire.CSharp.Editor.csproj
UnityVS.Zillionaire.CSharp.Plugins.csproj
UnityVS.Zillionaire.sln
UnityVS.Zillionaire.sln.DotSettings
UnityVS.Zillionaire.UnityScript.unityproj
UnityVS.Zillionaire.v12.suo